# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
**/dist/
**/out/
**/build/

*.vsix
*.tsbuildinfo

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp